# https://www.zephyrproject.org/doc/reference/kconfig/index.html

# DEBUG-------------------------------------------
CONFIG_SYS_LOG=y
# CONFIG_SYS_LOG_SPI_LEVEL=4

#set pinning zephyr/subsys/bluetooth/controller/hal/nrf5/debug.h
CONFIG_BLUETOOTH_CONTROLLER=y
CONFIG_BLUETOOTH_CONTROLLER_DEBUG_PINS=n

# CONFIG_DEBUG_INFO=y
# CONFIG_EXCEPTION_DEBUG=y
# CONFIG_BLUETOOTH_DEBUG=y
# CONFIG_BLUETOOTH_DEBUG_LOG=y
# CONFIG_BLUETOOTH_DEBUG_CONN=y
# CONFIG_BLUETOOTH_DEBUG_HCI_CORE=y
# CONFIG_BLUETOOTH_DEBUG_GATT=y
# CONFIG_BLUETOOTH_DEBUG_ATT=y

# GENERAL CONFIGURATION-------------------------------------------
CONFIG_PRINTK=y
CONFIG_STDOUT_CONSOLE=y
CONFIG_HEAP_MEM_POOL_SIZE=4096

# SPI CONFIGURATION-------------------------------------------
CONFIG_SPI=y
CONFIG_SPI_NRF5=y
CONFIG_SPIM_NRF52=y
CONFIG_SPI_LEGACY_API=y

# nRF5 SPI drivers.
# Enable support for nRF5 MCU series SPI drivers. Peripherals with the same instance id can not be used
# together, e.g., SPIM0 and I2C_0 (TWIM0) and SPIS0. You may need to disable I2C_0 or I2C_1.

CONFIG_SPI_1=y
CONFIG_SPI_1_IRQ_PRI=1
CONFIG_SPIM1_NRF52=y
CONFIG_SPIM1_NRF52_GPIO_PORT=1
CONFIG_SPIM1_NRF52_GPIO_SCK_PIN=15
CONFIG_SPIM1_NRF52_GPIO_MISO_PIN=14
CONFIG_SPIM1_NRF52_GPIO_MOSI_PIN=13
CONFIG_SPIM1_NRF52_GPIO_SS_PIN_0=12
CONFIG_SPIM1_NRF52_ORC=0xFF

CONFIG_SPI_2=y
CONFIG_SPI_2_IRQ_PRI=100
CONFIG_SPIM2_NRF52=y
CONFIG_SPIM2_NRF52_GPIO_PORT=1
CONFIG_SPIM2_NRF52_GPIO_SCK_PIN=6
CONFIG_SPIM2_NRF52_GPIO_MISO_PIN=5
CONFIG_SPIM2_NRF52_GPIO_MOSI_PIN=4
CONFIG_SPIM2_NRF52_GPIO_SS_PIN_0=3
CONFIG_SPIM2_NRF52_ORC=0xFF

# I2C CONFIGURATION-------------------------------------------
CONFIG_I2C=y
CONFIG_I2C_NRF5=y

CONFIG_I2C_0=y
CONFIG_I2C_0_IRQ_PRI=1
CONFIG_I2C_0_NAME="I2C_0"
CONFIG_I2C_NRF5_GPIO_PORT=0
CONFIG_I2C_NRF5_GPIO_SCA_PIN=4
CONFIG_I2C_NRF5_GPIO_SCL_PIN=3

# GPIO CONFIGURATION------------------------------------------
CONFIG_GPIO=y
CONFIG_GPIO_NRF5=y
CONFIG_GPIO_NRF5_P0=y
CONFIG_GPIO_NRF5_P1=y

# BLUETOOTH CONFIGURATION------------------------------------------
CONFIG_BLUETOOTH=y
CONFIG_BLUETOOTH_SMP=n
CONFIG_BLUETOOTH_SIGNING=n
CONFIG_BLUETOOTH_PERIPHERAL=y
CONFIG_BLUETOOTH_ATT_PREPARE_COUNT=100
CONFIG_BLUETOOTH_PRIVACY=n
CONFIG_BLUETOOTH_DEVICE_NAME="ExtBoard"
CONFIG_BLUETOOTH_DEVICE_APPEARANCE=833

# Set the MTU
CONFIG_BLUETOOTH_GATT_CLIENT=y
CONFIG_BLUETOOTH_HCI_ACL_FLOW_CONTROL=y
CONFIG_BLUETOOTH_L2CAP_RX_MTU=23
CONFIG_BLUETOOTH_L2CAP_TX_MTU=23
# CONFIG_BLUETOOTH_L2CAP_TX_BUF_COUNT=6
CONFIG_BLUETOOTH_ATT_TX_MAX=2
CONFIG_BLUETOOTH_CONTROLLER_TX_BUFFERS=4
